* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    background-color: #F5F5F5;
}
/* Common Styles */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.hero-section, .pillars-section {
    margin-bottom: 80px;
}

.section-heading {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.btn {
    font-size: 18px;
    padding: 17px 34px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

nav h1 {
    font-size: 32px;
    font-weight: 700;
}

.btn-sign-in {
    color:  #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    background: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

/* Hero section */
.hero-section {
    display: flex;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 60px;
}

.btn-success {
    background-color: #006A50;
}

.hero-section .theme {
    color: #0E0E0E;
    opacity: 0.5;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.hero-section .heading {
    font-size: 56px;
    color: #0E0E0E;
    font-weight: 700;
    margin-bottom: 24px;
}

/* Pillars section */
.pillar-cards {
    margin-top: 8px;
    display: flex;
    gap: 24px;
}

.pillar-card {
    border: 1px solid #0e0e0e15;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 16px;
}

.pillar-card h3 {
    color: #0E0E0E;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 700;
    margin: 24px 0 12px 0;
}

.pillar-card p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}