* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 24px 0;
}

nav h1 {
    font-size: 32px;
    font-weight: 700;
}

.btn-sign-in {
    color:  #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    background: none;
    font-size: 18px;
    font-weight: 600;
}