* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    background-color: #F5F5F5;
}
/* Common Styles */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.hero-section, .pillars-section, .vision-section, .opinion-section {
    margin-bottom: 80px;
}

.section-heading {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.btn {
    font-size: 18px;
    padding: 17px 34px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-sm {
    font-size: 16px;
    padding: 11px 20px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.text-primary {
    color: rgba(14, 14, 14, 1);;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.text-secondary {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

.p-32 {
    padding: 32px;
}

.bg-primary {
    background-color: rgba(84, 144, 245, 0.2);
}

.bg-success {
    background-color: rgba(198, 228, 214, 1);
}

.bg-warning {
    background-color: rgba(247, 235, 207, 1);
}

.btn-success {
    background-color: #006A50;
}

.btn-primary {
    background-color: rgba(84, 144, 245, 1);
}

.btn-warning {
   background-color: rgba(255, 194, 57, 1);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

nav h1 {
    font-size: 32px;
    font-weight: 700;
}

.btn-sign-in {
    color:  #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    background: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

/* Hero section */
.hero-section {
    display: flex;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 60px;
}

.hero-section .theme {
    color: #0E0E0E;
    opacity: 0.5;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.hero-section .heading {
    font-size: 56px;
    color: #0E0E0E;
    font-weight: 700;
    margin-bottom: 24px;
}

/* Pillars section */
.pillar-cards {
    margin-top: 8px;
    display: flex;
    gap: 24px;
}

.pillar-card {
    border: 1px solid #0e0e0e15;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 16px;
}

/* Vision section */
.vision-cards {
    display: flex;
    gap: 24px;
}

.vision-cards .vision-card {
    border-radius: 16px;
}

.speech-area {
    background-color: #FFFFFF;
    padding: 48px 24px;
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 25px;
}

/* Table */
.opinion-box  {
  border-radius: 16px;
background: rgba(255, 255, 255, 1);
  padding: 32px;
}

.opinion-box table {
  width: 100%;
  border-collapse: collapse;
}

.opinion-box thead th {
  background: rgba(198, 228, 214, 1);
  padding: 24px;
  font-weight: 600;
}

.question{
  padding: 36.5px 0 36.5px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  color: rgba(14, 14, 14, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.answer {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 4px;
    padding: 10px 14px;
    cursor: pointer;
    text-align: center;
}

.answer span {
    border: 1px solid rgba(14, 14, 14, 1);
border-radius: 4px;
background: rgba(198, 228, 214, 1);
    padding: 10px 14px 10px 14px;
    margin: 24px;
}